:host {
  display: block;
  padding: 1rem;
}

.actions {
  display: flex;
  gap: 0.25rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.header h2 {
  margin: 0;
}

h2 {
  margin-bottom: 1rem;
}